<div class="bg-dark w-100">
        <div class="row p-5 text-secondary">
            <div class="col-sm-6 text-start ">
                <address>
                    <h6>Building No - 1/22/32</h6>
                    <h6>Street No-6</h6>
                    <h6>Banjara Hills</h6>
                    <h6>Hyderabad-502211</h6>
                </address>
            </div>
            <div class="col-sm-6 text-end">
                <address>
                    <h6>Productms@mail.com</h6>
                    <h6>+91 9292929299</h6>
                </address>
            </div>
        </div>
</div>
