<div class="bg-dark w-100 ">
        <div class="row bg-dark pt-5 text-secondary">
            <div class="bg-dark col-sm-8 px-5 text-start ">
                <address>
                    <h5><i class="fas fa-address-card"></i> Address :</h5>
                    <h6>Building No - 1/22/32,</h6>
                    <h6>Street No-6,</h6>
                    <h6>Banjara Hills,</h6>
                    <h6>Hyderabad-502211</h6>
                </address>
            </div>
            <div class=" bg-dark col-sm-4 px-5 text-start">
                <address>
                    <h5>Contact Us </h5>
                    <h6><i class="fas fa-envelope"></i> : Productms@mail.com</h6>
                    <h6><i class="fas fa-phone-square-alt"></i> : +91 9292929299</h6>
                    <h6><i class="fas fa-fax"></i> : +91-562-9292929299</h6>
                </address>
            </div>
        </div>
</div>
