<ul class="nav nav-pills mt-5 d-flex justify-content-around">
    <li class="nav-item">
      <a class="nav-link " routerLink="mobiles" routerLinkActive="active">Mobiles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="cameras" routerLinkActive="active">Cameras</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="televisions" routerLinkActive="active">Televisions</a>
    </li>
</ul>
<hr>
<div class="contianer">
    <router-outlet></router-outlet>
</div>