<ul class="nav nav-pills mt-2 d-flex justify-content-around">
    <li class="nav-item">
      <a class="nav-link " routerLink="healthcare" routerLinkActive="active">Healthcare</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="medicine" routerLinkActive="active">Medicine</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="babycare" routerLinkActive="active">Babycare</a>
    </li>
</ul>
<hr>
<div class="contianer">
    <router-outlet></router-outlet>
</div>