<div class="container">
    <div class="row">
      <div class="col m-5 p-4">
          <ul>
              <li class="fs-3 mb-3">Follow Us On</li>
              <li class="fs-4">Facebook <i class="fab fa-facebook-square"></i></li>
              <li class="fs-4">Instagram <i class="fab fa-instagram"></i></li>
              <li class="fs-4">Twitter <i class="fab fa-twitter"></i></li>
          </ul>
      </div>
      <div class="col mt-5 p-4">
          <ul>
              <li class="fs-3 mb-3">Contact Us</li>
              <li class="fs-4"><i class="fas fa-envelope"></i> : Products@mail.com</li>
              <li class="fs-4"><i class="fas fa-phone-square-alt"></i> : +91 9292929299</li>
              <li class="fs-4"><i class="fas fa-fax"></i> : +91-562-9292929299</li>
          </ul>
      </div>
      <div class="col m-5 p-4">
        <ul>
            <li class="fs-3 mb-3"><i class="fas fa-address-card"></i> Address </li>
            <li class="fs-4">Building No - 1/22/32,</li>
            <li class="fs-4">Street No-6,</li>
            <li class="fs-4">Banjara Hills,</li>
            <li class="fs-4">Hyderabad-502211</li>
        </ul>
    </div>
    </div>
