
<div class="mt-5 w-100">
<div class="carousel slide w-100" data-bs-ride="carousel" id="crs">

<div class="carousel-indicators">
  <button data-bs-target="#crs" data-bs-slide-to="0" class="active"></button>
  <button data-bs-target="#crs" data-bs-slide-to="1" ></button>
  <button data-bs-target="#crs" data-bs-slide-to="2" ></button>
</div>
<div class="container h-10 ">
<div class="carousel-inner w-100  " id="id1">
  <div class="carousel-item active" data-bs-interval="2000">
      <img class="w-100 h-50" src="https://cms-contents.pharmeasy.in/banner/fcf06e6cf90-STAYHOMEDWEB.jpg?dim=1440x0&dpr=1.25&q=100" alt="">
  </div>
  <div class="carousel-item" data-bs-interval="2000">
      <img class="w-100  h-50" src="https://cms-contents.pharmeasy.in/banner/9459641af47-Dweb-herbs.jpg?dim=1440x0&dpr=1.25&q=100" alt="">
  </div>
  <div class="carousel-item" data-bs-interval="2000">
      <img class="w-100  h-50" src="https://cms-contents.pharmeasy.in/banner/7a4d8baef90-50.jpg?dim=1440x0&dpr=1.25&q=100" alt="">
  </div>
</div>
</div>

<button class="carousel-control-prev" data-bs-target="#crs" data-bs-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</button>
<button class="carousel-control-next" data-bs-target="#crs" data-bs-slide="next">
  <span class="carousel-control-next-icon"></span>
</button>
</div>
</div>



<!-- products link -->
<div class="container mt-5"> 
  <div class="row">
    <div class="col ">
       <button class="m-4 bg-white"><img src="https://newassets.apollo247.com/pub/media/wysiwyg/home/247_dod1_mustela_1stjune_final.jpg"  alt=""></button>
    </div>
    <div class="col order-5">
      <button class="m-4 bg-white"><img src="https://onemg.gumlet.io/images/w_150,h_150,c_fit,q_auto,f_auto/v1601158852/cropped/pxr8xspdycaowoxdwgs2/accusure-mt-1027s-digital-thermometer.png" alt="" height="130" width="250px"></button>
    </div>
    <div class="col order-1">
    <button class="m-4 bg-white"> <img src="https://newassets.apollo247.com/pub/media/wysiwyg/home/247_dod3_chicco_31stmay_final.png"  wialt=""></button>
    </div>
  </div>
</div>