<div class="container">
<div class="carousel slide " data-bs-ride="carousel" id="crs">

<div class="carousel-indicators">
  <button data-bs-target="#crs" data-bs-slide-to="0" class="active"></button>
  <button data-bs-target="#crs" data-bs-slide-to="1" ></button>
  <button data-bs-target="#crs" data-bs-slide-to="2" ></button>
</div>
<div class="carousel-inner">
  <div class="carousel-item active" data-bs-interval="2000">
      <img class="w-100 h-50" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="">
  </div>
  <div class="carousel-item" data-bs-interval="2000">
      <img class="w-100 h-50" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="">
  </div>
  <div class="carousel-item" data-bs-interval="2000">
      <img class="w-100 h-50" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="">
  </div>
</div>

<button class="carousel-control-prev" data-bs-target="#crs" data-bs-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</button>
<button class="carousel-control-next" data-bs-target="#crs" data-bs-slide="next">
  <span class="carousel-control-next-icon"></span>
</button>
</div>
 
  <div class="row m-5">
    <div class="col-md-8">
      <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img class="w-100"src="https://i.pinimg.com/originals/83/64/66/83646654668bf9ae412f45bb2e417ddf.jpg" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <div class="card" >
        <img src="https://st.depositphotos.com/1428083/2946/i/600/depositphotos_29460297-stock-photo-bird-cage.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        
        </div>
      </div>
    </div>
  </div>

  
  <div class="row m-5">
    <div class="col-6 col-md-4">
      <div class="card" >
      <img src="https://wallpaperaccess.com/full/2587267.jpg" class="card-img-top w-100" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
    <div class="col-6 col-md-4">
      <div class="card" >
        <img src="https://wallpaperaccess.com/full/4263782.jpg" class="card-img-top w-100" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4">
      <div class="card" >
        <img src="https://static.toiimg.com/photo/72975551.cms" class="card-img-top w-100" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>

  
  <div class="row m-5">
    <div class="col-6">
      <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://i.pinimg.com/originals/77/96/30/77963020a6397002a14f3a4b711255fe.jpg" class="w-100"alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <img class="w-100"src="https://i.pinimg.com/originals/79/27/f9/7927f976b17065d627f94c0e125ac79c.jpg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>